.App {
    text-align: center;
}

.App .btn {
    margin-top: 10px;
    width: 200px;
    height: 50px;
    font-size: 14px;
    font-weight: bolder;
    margin-left: 10px;
    background-color: white;
    border-radius: 80px;
}

.App .btn:hover {
    margin-top: 10px;
    width: 200px;
    height: 50px;
    font-size: 14px;
    font-weight: bolder;
    margin-left: 10px;
    color: white;
    background-color: black;
    border-radius: 80px;
}
